body {
    color: #333;
    font: 16px Sans-Serif;
    background: #eee;
}
a:hover {
    text-decoration: none;
}
#fileContent {
    border: 0;
    background-color: transparent;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
}
